body{
    background-image: linear-gradient(to top, #7e9794, #4a6e97);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: auto;
    flex-direction: column;
}

.submain{
    margin: 3vh auto;
    flex: 1;
    vertical-align: auto;
    width: 70%;
}

.accordion {
    background-color: #fff;
    color: #5c7d70;
    cursor: pointer;
    font-weight: bolder;
    padding: 12px 15px;
    width: 80%;
    border: none;
    border-radius: 10px;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: all 0.5s ease;
}

.active, .accordion:hover {
    // background-color: #ccc;
    border-radius: 10px 10px 0px 0px;
    + .panel{
        background-color: white;
    }
}

.accordion:after {
    // content: '\2304';
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='10' viewBox='0 0 16 11'%3E%3Cpath fill='none' d='M1.5 2C4.62419 5.12419 4.87581 4.87581 8 8C8 8 10.8758 5.12419 14 2' stroke='%237E9794' stroke-width='2.5' %3E%3C/path%3E%3C/svg%3E");
    color: #5c7d70;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='10' viewBox='0 0 16 11'%3E%3Cpath fill='none' d='M14 9C10.8758 5.87581 10.6242 6.12419 7.5 3C7.5 3 4.62419 5.87581 1.5 9' stroke='%237E9794' stroke-width='2.5' %3E%3C/path%3E%3C/svg%3E");
}

.panel {
    padding: 0 18px;
    background-color: transparent;
    width: 80%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-radius: 0px 0px 10px 10px;
}
.paneContentMob{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color:#5c7d70; 
    border-radius: 8px; 
    margin: 10px 25px 10px 25px;
    box-shadow: 0px 20px 15px lightgrey;
    height: 150px;
    transition: all 0.5s ease;
    p{
        display: table-cell; 
        vertical-align: middle;
        transition: all 0.5s ease;
        height: auto;
    }
    p.firstScreen{
        opacity: 0;
        height: 0;
        overflow: hidden;
    }
    ul{
        opacity: 0;
        height: 0;
        transition: opacity 0.5s ease;
        overflow: hidden;
        font-weight: bold;
        margin-left: -15px;
        text-align: left;
        margin-top: -15px;;
        li{
            margin: 1em auto;
        }
    }
    ul.secondScreen{
        opacity: 0.9;
        height: auto;
    }
}
.paneContentMob.pcmOnClick{
    background-color: white;
    transition: all 0.5s ease;    
    color: #5c7d70;
    align-items: start;
}
.arrowMob{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear, all 0.5s ease;
    left: 230px;
    bottom: 90px;
    color: #5c7d70;
}
.arrowMob.showArrowMob{
    visibility: visible;
    opacity: 1;
}
.panelFooter{
    margin: 20px 30px; 
    font-weight: bold; 
    color: #5c7d70; 
    font-size: 12px;
}